<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="Luna" fileName="/data/luna/logs/luna/luna.log"
			filePattern="/data/luna/logs/luna/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
        <RollingFile name="DingDing" fileName="/data/luna/logs/ding/ding.log"
                     filePattern="/data/luna/logs/ding/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
		<RollingFile name="Time" fileName="/data/luna/logs/time/time.log"
			filePattern="/data/luna/logs/time/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
        <Logger name="time" level="info" additivity="false">
            <appender-ref ref="Console" />
            <AppenderRef ref="Time" />
        </Logger>
        <Logger name="luna" level="trace" additivity="false">
            <appender-ref ref="Console" />
            <AppenderRef ref="Luna" />
        </Logger>
        <Logger name="ding" level="trace" additivity="false">
            <appender-ref ref="Console" />
            <AppenderRef ref="DingDing" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
	</Loggers>
</Configuration>
